<% layout("/layouts/boilerplate") %>
<body>
    <h3>All listings </h3>
    <form action="/listing/new" method="get">
        <button type="submit">Create New Listing</button>
    </form>
    <ul>
        <%for ( let listing of allListings){%>
        <li><a href="/listings/<%= listing._id  %>"><%= listing.title  %></a></li>
            <%  }%>
    </ul>
</body>




