<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create New Listing</h3>
    <form action="/listings" method="post">
        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input type="text" id="title" class="form-control" name="listing[title]" placeholder="Enter a catchy title for your listing:">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description:</label><br>
            <textarea id="description" class="form-control" name="listing[description]" rows="2" cols="10" ></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" class="form-control" name="listing[image]" placeholder="Enter image URL:">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="price">Price:</label>
                <input type="number" id="price" class="form-control" name="listing[price]" placeholder="1200">
            </div>
            <div class="mb-3 col-md-8">
                <label class="form-label" for="country" >Country:</label>
                <input type="text" id="country" class="form-control" name="listing[country]" placeholder="India">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location:</label>
            <input type="text" id="location" class="form-control" name="listing[location]" placeholder="Kolkata, West Bengal">
        </div>

        
        <button class="btn btn-dark add-btn" type="submit">Add</button>
    </form>    </div>
</div>